{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}OpenStack Validator Result{% endblock %}

{% block content %}
<div class="container">
  <h1>OpenStack Validation Error</h1>

  <p>
    {{ message }}
  </p>

  <form action="/validation" method="POST">
    <div style="display: none">
      {{ form.hidden_tag() }}

      {{ wtf.form_field(form.nodes) }}
      {{ wtf.form_field(form.username) }}
      {{ wtf.form_field(form.private_key) }}
    </div>
    <button type="submit" class="btn btn-info">Re-run inspection</button>
    <a class="btn btn-default" href="/validation">New inspection</a>
  </form>
  
</div>

{% endblock %}

